/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

div.header-nav>a {
  text-decoration: none;
  color: var(--meshki);
  margin: 0;
  font-size: 22px;
}

div.header-nav {
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

div.header-nav>a:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.header-main {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.search-box input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

/* header */

div.hero {
  padding-top: 20px;
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  /* margin: 20px auto; */
}

div.hero>img {
  width: 100%;
  height: 800px;
}

.container-of {
  /* background-color: rgb(0, 0, 0); */
  height: 80%;
  display: flex;
}

.container-img1 {
  /* background-color: blue; */
  width: 55%;
  height: 60%;
}

.container-img2 {
  /* background-color: aqua; */
  width: 45%;
  height: 100%;
  margin-left: 4px;
}

.container-img1>img {
  width: 100%;
  height: 100%;
}

.container-img2>img {
  width: 100%;
  height: 100%;
}

.container-text {
  /* background-color: aqua; */
  margin: 32px 0 46px 0;
  text-align: center;
}

.container-text>h1 {
  font-size: 50px;
}

.container-text>p {
  font-size: 16px;
}

section.main-product {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
}

div.product,
div.product2 {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  height: 40%;
}

div.product>img,
div.product2>img {
  width: 100%;
  height: 100%;
}

div.main {
  width: 50%;
  height: 100%;
}

div.foother-img {
  display: flex;
  justify-content: center;
}

div.foother-a>a {
  text-decoration: none;
  color: var(--meshki);
  padding: 16px;
  font-size: 20px;
}

div.foother-a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

div.foother-a>a:hover {
  color: gray;
  transition: 1s;
}

footer ul>h4 {
  font-size: 24px;
  margin-bottom: 12px;
}

footer li {
  font-size: 16px;
  padding: 6px 0 6px 0;
  color: gray;
}

footer li:hover {
  color: var(--meshki);
  transition: 1s;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer>ul {
  list-style-type: none;
  padding: 74px;
}
@media screen and (max-width: 768px) {

  /* header */
  section.header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  div.header-nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 100%;
  }

  div.header-nav>a.about {
    display: none;
  }

  div.header-nav>a {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: var(--meshki);
  }

  .search-box input {
    display: none;
  }

  div.header-img {
    display: block;
    /* margin-right: 5px; */
  }

  /* header */
  div.hero>img {
    height: 400px;
    width: 100%;
  }

  div.hero {
    /* margin-bottom: 6px; */
    /* width: 768px; */
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 10px 0;
  }

  /* main */
  section.container-of {
    display: inline-block;
  }

  div.container-img2 {
    width: 100%;
  }

  div.container-img2>img {
    width: 100%;
    height: 70%;
  }

  div.container-img1 {
    width: 100%;
    margin-bottom: 26px;
  }

  div.container-img1>img {
    width: 100%;
  }

  div.container-text>h1 {
    font-size: 30px;
  }

  div.container-text>p {
    margin: 16px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section.main-product {
    /* background-color: #f5f5f5; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
  }

  div.main {
    display: block;
    background-color: #f5f5f5;
    height: 40%;
  }

  div.product,
  div.product2 {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
  }

  div.product>img {
    width: 35%;
    height: 100%;
  }

  div.product2>img {
    width: 35%;
    height: 100%;
  }

  /* main */
  div.foother-img {
    display: flex;
    justify-content: center;
  }

  div.foother-img>img {
    width: 30%;
    height: 30%;
  }

  div.foother-a>a {
    text-decoration: none;
    color: var(--meshki);
    padding: 10px;
    font-size: 12px;
  }
  div.foother-a{
    display: flex;
    justify-content: center;
  }
footer {
  display: none;
}
}