header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

div.header-nav>a {
  text-decoration: none;
  color: var(--meshki);
  margin: 0;
  font-size: 22px;
}

div.header-nav {
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

div.header-nav>a:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.header-main {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.search-box input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

div.logo {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

div.logo>img {
  width: 200px;
  height: 200px;
}

.first-img>img,
.second-img>img,
.third-img>img,
.first4-img>img,
.second4-img>img,
.third4-img>img {
  width: 400px;
  height: 400px;
}

section.first-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

div.logo>img {
  width: 200px;
  height: 200px;
}

div.product-details {
  /* background-color: #f5f5f5; */
  width: 400px;
  /* text-align: center; */
}

.product-details>h1 {
  color: var(--germez);
  font-size: 16px;
  margin-top: 12px;
}

.product-details>h2 {
  font-size: 16px;
  margin-top: 8px;
}

.product-details>h3 {
  color: gray;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 6px;
}

.product-details>span {
  font-size: 20px;
}

section.second-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.first-img,
.first2-img {
  margin-bottom: 100px;
}

.first2-img>img,
.second2-img>img,
.third2-img>img {
  width: 400px;
  height: 400px;
}

.first3-img>img,
.second3-img>img,
.third3-img>img {
  width: 400px;
  height: 400px;
}

.first5-img>img,
.second5-img>img,
.third5-img>img {
  width: 400px;
  height: 400px;
}

section.third-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 200px;
}

div.foother-img {
  display: flex;
  justify-content: center;
}

div.foother-a>a {
  text-decoration: none;
  color: var(--meshki);
  padding: 16px;
  font-size: 20px;
}

div.foother-a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

div.foother-a>a:hover {
  color: gray;
  transition: 1s;
}

footer ul>h4 {
  font-size: 24px;
  margin-bottom: 12px;
}

footer li {
  font-size: 16px;
  padding: 6px 0 6px 0;
  color: gray;
}

footer li:hover {
  color: var(--meshki);
  transition: 1s;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer>ul {
  list-style-type: none;
  padding: 74px;
}

@media screen and (max-width: 768px) {

  /* header */
  section.header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  div.header-nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 100%;
  }

  div.header-nav>a.about {
    display: none;
  }

  div.header-nav>a {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: var(--meshki);
  }

  .search-box input {
    display: none;
  }

  div.header-img {
    display: block;
    /* margin-right: 5px; */
  }

  div.logo {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }

  div.logo>img {
    width: 100px;
    height: 100px;
  }

  section.first-container {
    margin: 0;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
  }

  .first-img>img {
    width: 100%;
    height: 65%;
  }

  div.first-img {
    width: 45%;
    margin-bottom: 10%;
  }

  div.second-img {
    width: 45%;
  }

  .second-img>img {
    width: 100%;
    height: 56%;
  }

  div.third-img {
    width: 45%;
    /* margin-top: 10%; */
  }

  .third-img>img {
    width: 100%;
    height: 65%;
  }

  .product-details>h1 {
    color: var(--germez);
    font-size: 12px;
    margin-top: 8px;
  }

  .product-details>h2 {
    font-size: 10px;
    margin-top: 4px;
  }

  .product-details>h3 {
    color: gray;
    font-size: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .product-details>span {
    font-size: 14px;
  }

  div.product-details {
    margin-left: 6px;
    width: 100%;
  }

  section.second-container {
    margin: 0;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20%;
  }

  .first2-img>img {
    width: 100%;
    height: 65%;
  }

  div.first2-img {
    width: 45%;
    margin: 0;
  }

  div.second2-img {
    width: 45%;
  }

  .second2-img>img {
    width: 100%;
    height: 65%;
  }

  div.third2-img {
    width: 45%;
    margin-top: 10%;
  }

  .third2-img>img {
    width: 100%;
    height: 65%;
  }

  section.third-container {
    margin: 0;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20%;
  }

  .first3-img>img {
    width: 100%;
    height: 65%;
  }

  div.first3-img {
    width: 45%;

  }

  div.second3-img {
    width: 45%;

  }

  .second3-img>img {
    width: 100%;
    height: 65%;
  }

  div.third3-img {
    width: 45%;
    margin-top: 10%;
  }

  .third3-img>img {
    width: 100%;
    height: 65%;
  }

  .first4-img>img {
    width: 100%;
    height: 65%;
  }

  div.first4-img {
    width: 45%;
  }

  div.second4-img {
    width: 45%;
    margin-top: 10%;
  }

  .second4-img>img {
    width: 100%;
    height: 65%;
  }

  div.third4-img {
    width: 45%;
    margin-top: 10%;
  }

  .third4-img>img {
    width: 100%;
    height: 65%;
  }



  .first5-img>img {
    width: 100%;
    height: 65%;
  }

  div.first5-img {
    width: 45%;
    margin-top: 10%;
  }

  div.second5-img {
    width: 45%;
    margin-top: 10%;
  }

  .second5-img>img {
    width: 100%;
    height: 65%;
  }

  div.third5-img {
    width: 45%;
    margin-top: 10%;
  }

  .third5-img>img {
    width: 100%;
    height: 65%;
  }

  div.foother-img {
    display: flex;
    justify-content: center;
  }

  div.foother-img>img {
    width: 30%;
    height: 30%;
  }

  div.foother-a>a {
    text-decoration: none;
    color: var(--meshki);
    padding: 10px;
    font-size: 12px;
  }

  div.foother-a {
    display: flex;
    justify-content: center;
  }

  footer {
    display: none;
  }
}